# For full example, check below:
# https://github.com/minio/operator/blob/master/examples/kustomization/base/tenant.yaml
apiVersion: minio.min.io/v2
kind: Tenant
metadata:
  name: minio
  namespace: minio
  labels:
    app: minio
spec:
  features:
    bucketDNS: false # use path-style access to be compatible with local environment
  users:
    - name: admin-api-user
    - name: client-api-user
    - name: iris-user
  buckets:
    - name: 'codedang-testcase'
      region: 'ap-northeast-2'
      objectLock: false
    - name: 'codedang-media'
      region: 'ap-northeast-2'
      objectLock: false
  configuration:
    name: tenant-config
  env:
    - name: MINIO_BROWSER_REDIRECT_URL
      value: 'https://minio-console.stage.codedang.com'
  pools:
    - servers: 1 # standalone mode (4 or more for distributed mode)
      name: pool-0
      volumesPerServer: 1
      volumeClaimTemplate:
        apiVersion: v1
        kind: PersistentVolumeClaim
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 20Gi
          storageClassName: local-path
  requestAutoCert: false # Use custom ingress instead
