# NOTE: Some values are loaded by direnv from the root `.envrc` file.

### Database ###
# TODO: remove this after migrating from db to s3
DATABASE_URL="postgresql://postgres:1234@127.0.0.1:5433/skkuding?schema=public"

### MinIO ###
# To reuse AWS SDK, we use the AWS environment variables for MinIO credentials.
AWS_ACCESS_KEY_ID="skku"
AWS_SECRET_ACCESS_KEY="skku1234"

### Polygon tools ###
POLYGON_TOOL_TIME_LIMIT_MS="2000"
POLYGON_TOOL_MEMORY_LIMIT_BYTES="536870912"
GENERATE_CONCURRENCY="2"
VALIDATE_CONCURRENCY="1"

### OpenTelemetry ###
DISABLE_INSTRUMENTATION="true"
