traces:
  otlp:
    grpc:
      enabled: true

tempo:
  extraArgs:
    - '--config.expand-env=true'
  extraEnv:
    - name: AWS_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: monitoring-user
          key: CONSOLE_ACCESS_KEY
    - name: AWS_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: monitoring-user
          key: CONSOLE_SECRET_KEY
  retention: 2160h # 90 days
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo
        endpoint: minio.monitoring-minio.svc.cluster.local:9000
        access_key: ${AWS_ACCESS_KEY_ID}
        secret_key: ${AWS_SECRET_ACCESS_KEY}
        insecure: true
        forcepathstyle: true
      wal:
        path: /var/tempo/wal
  structuredConfig:
    ingester:
      max_block_bytes: 104857600
      max_block_duration: 10m
      complete_block_timeout: 15m
  overrides:
    defaults:
      metrics_generator:
        processors:
          - service-graphs
          - span-metrics
          - local-blocks
  metricsGenerator:
    enabled: true
    remoteWriteUrl: http://prometheus-kube-prometheus-prometheus.monitoring-prometheus.svc.cluster.local:9090/api/v1/write

distributor:
  replicas: 1
  config:
    log_received_spans:
      enabled: true

ingester:
  replicas: 1
  persistence:
    enabled: true
    size: 10Gi
