traces:
  otlp:
    grpc:
      enabled: true

tempo:
  extraArgs:
    config.expand-env: "true"
  extraEnvFrom:
    - secretRef:
        name: monitoring-minio-credentials
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo
        endpoint: minio.monitoring-minio.svc.cluster.local:9000
        access_key: ${AWS_ACCESS_KEY_ID}
        secret_key: ${AWS_SECRET_ACCESS_KEY}
        insecure: true
        forcepathstyle: true
      wal:
        path: /var/tempo/wal
  structuredConfig:
    ingester:
      lifecycler:
        ring:
          replication_factor: 3
      max_block_bytes: 104857600
      max_block_duration: 10m
      complete_block_timeout: 15m

distributor:
  replicas: 1
  config:
    log_received_spans:
      enabled: true

ingester:
  replicas: 1
  persistence:
    enabled: true
    size: 10Gi
