### MinIO ###
export MINIO_ENDPOINT_URL="http://127.0.0.1:9000"
export MEDIA_BUCKET_NAME="codedang-media"
export TESTCASE_BUCKET_NAME="codedang-testcase"
export CHECK_RESULT_BUCKET_NAME="codedang-plag-checks"
# Although these values are for AWS SDK, using AWS_* variables interrupts AWS CLI loading the default profile.
# So we use MINIO_* variables and map them in the code. (see scripts/init-storage.ts)
export MINIO_ACCESS_KEY_ID="skku"
export MINIO_SECRET_ACCESS_KEY="skku1234"

### RabbitMQ ###
export RABBITMQ_HOST="127.0.0.1"
export RABBITMQ_PORT="5672"
export RABBITMQ_API_URL="http://127.0.0.1:15672/api"
export RABBITMQ_DEFAULT_USER="skku"
export RABBITMQ_DEFAULT_PASS="1234"
export RABBITMQ_DEFAULT_VHOST="vh"

export JUDGE_EXCHANGE_NAME="iris.e.direct.judge"
export JUDGE_SUBMISSION_QUEUE_NAME="client.q.judge.submission"
export JUDGE_SUBMISSION_ROUTING_KEY="judge.submission"
export JUDGE_RESULT_QUEUE_NAME="iris.q.judge.result"
export JUDGE_RESULT_ROUTING_KEY="judge.result"

export CHECK_EXCHANGE_NAME="plag.e.direct.check"
export CHECK_QUEUE_NAME="client.q.check.request"
export CHECK_ROUTING_KEY="check.request"
export CHECK_RESULT_QUEUE_NAME="plag.q.check.result"
export CHECK_RESULT_ROUTING_KEY="check.result"

### AWS ###
export AWS_PROFILE="skkuding"

### Sandbox (only for devcontainer) ###
if [ "$DEVCONTAINER" = "1" ]; then
  export CONTAINER_ID=$(head -1 /proc/self/cgroup | cut -d/ -f3 | sed -e 's/docker-\(.*\)\.scope/\1/')
fi
