{
  "$schema": "http://json.schemastore.org/prettierrc",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindConfig": "./apps/frontend/tailwind.config.ts",
  "tailwindStylesheet": "./apps/frontend/app/globals.css",
  "tailwindFunctions": ["cn"],
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "classProperties",
    "decorators-legacy"
  ],
  "importOrder": [
    "^@nestjs(.*)$",
    "^@generated$",
    "<THIRD_PARTY_MODULES>",
    "^@libs/(.*)$",
    "^@admin/(.*)$",
    "^@client/(.*)$",
    "^[./]"
  ],
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "parser": "html",
        "printWidth": 120
      }
    }
  ]
}
