(cors) {
	@cors_preflight{args[0]} {
		# cors_preflight{args[0]} matcher 생성
		header Origin {args[0]} # header와 method를 조건으로 설정
		method OPTIONS
	}
	@cors{args[0]} header Origin {args[0]} # cors{args[0]} matcher 생성

	handle @cors_preflight{args[0]} {
		# cors_preflight{args[0]}를 처리할 handler
		header Access-Control-Allow-Credentials true
		header Access-Control-Allow-Origin "{args[0]}"
		header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE"
		header Access-Control-Allow-Headers "Content-Type, Authorization, Email-Auth"
		respond "" 204
	}

	handle @cors{args[0]} {
		# cors{args[0]}를 처리할 handler
		header Access-Control-Allow-Origin "{args[0]}"
	}
}

# Global options
{
	# Keep-Alive timeout of reverse proxy must be longer than of the backend
	# Set timeout of Caddy to 60s and of the backend to 61s to avoid timeout error
	# https://adamcrowder.net/posts/node-express-api-and-aws-alb-502/
	servers {
		timeouts {
			idle 1m
		}
	}
}

dev.codedang.com {
	handle /api/* {
		reverse_proxy 127.0.0.1:4000

		# 캐시 설정
		header {
			Set-Cookie (.*) "$1; SameSite=None; Secure"
			defer
		}

		# cors 허용할 도메인
		import cors http://localhost:5173 # frontend server (Vue)
		import cors http://localhost:5525 # frontend server (Next.js)
	}

	handle /logs/* {
		reverse_proxy 127.0.0.1:9999
	}

	handle /graphql {
		reverse_proxy 127.0.0.1:3000

		# cors 허용할 도메인
		import cors http://localhost:5173 # frontend server (Vue)
		import cors http://localhost:5525 # frontend server (Next.js)
	}

	handle {
		reverse_proxy https://codedang.vercel.app {
			# Must override host to avoid Vercel error
			header_up Host codedang.vercel.app
		}
	}
}
