### API endpoint ###
NEXT_PUBLIC_BASEURL="https://stage.codedang.com/api"
NEXT_PUBLIC_GQL_BASEURL="https://stage.codedang.com/graphql"

### NextAuth ###
NEXTAUTH_URL="http://localhost:5525/next-auth/api/auth"
NEXTAUTH_SECRET="1s/30yqfBA2AttPiJMv5zO/Tn/7arwA1lCdnq9EUT2c="

### Metadata ###
NEXT_URL="http://localhost:5525"

### Runner WebSocket ###
NEXT_PUBLIC_RUNNER_BASEURL="wss://run.codedang.com/run"

### ChannelTalk ###
NEXT_PUBLIC_CHANNEL_PLUGIN_KEY="2f5b48ae-a587-431f-8106-2842c4403bc7"
