apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-api
  namespace: admin-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin-api
  template:
    metadata:
      labels:
        app: admin-api
    spec:
      containers:
        - name: admin-api
          image: ghcr.io/skkuding/codedang-admin-api
          resources:
            limits:
              cpu: 1
              memory: 1.5Gi
            requests:
              cpu: 0.2
              memory: 200Mi
          envFrom:
            - configMapRef:
                name: admin-api-env
            - secretRef:
                name: aws-credentials
                optional: true # not used in stage env
            - secretRef:
                name: database-credentials
            - secretRef:
                name: security-keys
            - secretRef:
                name: object-storage-credentials
                optional: true # not used in production env
          env:
            - name: RABBITMQ_DEFAULT_USER
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-credentials
                  key: username
            - name: RABBITMQ_DEFAULT_PASS
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-credentials
                  key: password
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis-credentials
                  key: password
