# NOTE: Some values are loaded by direnv from the root `.envrc` file.

### Database ###
DATABASE_URL="postgresql://postgres:1234@127.0.0.1:5433/skkuding?schema=public"
TEST_DATABASE_URL="postgresql://postgres:1234@127.0.0.1:5434/skkuding?schema=public"

### Redis ###
REDIS_HOST="127.0.0.1"
REDIS_PORT="6380"

### MinIO ###
# To reuse AWS SDK, we use the AWS environment variables for MinIO credentials.
AWS_ACCESS_KEY_ID="skku"
AWS_SECRET_ACCESS_KEY="skku1234"

################################################################################
# NOTE: The following variables are sensitive.
# Please copy the values from Notion 'Secrets' page, or fill in your own values.
################################################################################

### JWT Auth ###
JWT_SECRET=""

### Nodemailer ###
NODEMAILER_HOST=""
NODEMAILER_USER=""
NODEMAILER_PASS=""
NODEMAILER_FROM=""

### OAuth ###
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
KAKAO_CLIENT_ID=""
KAKAO_CLIENT_SECRET=""
VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
