{
  "$schema": "https://json.schemastore.org/swcrc",
  "test": ".*.ts$",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./",
    "paths": {
      "@admin/*": ["./apps/admin/src/*"],
      "@client/*": ["./apps/client/src/*"],
      "@libs/prisma": ["./libs/prisma/src/index.ts"],
      "@libs/cache": ["./libs/cache/src/index.ts"],
      "@libs/auth": ["./libs/auth/src/index.ts"],
      "@libs/exception": ["./libs/exception/src/index.ts"],
      "@libs/pipe": ["./libs/pipe/src/index.ts"],
      "@libs/constants": ["./libs/constants/src/index.ts"]
    }
  }
}
