# NOTE: Some values are loaded by direnv from the root `.envrc` file.

### Database ###
# TODO: remove this after migrating from db to s3
DATABASE_URL="postgresql://postgres:1234@127.0.0.1:5433/skkuding?schema=public"

### MinIO ###
# To reuse AWS SDK, we use the AWS environment variables for MinIO credentials.
AWS_ACCESS_KEY_ID="skku"
AWS_SECRET_ACCESS_KEY="skku1234"

### OpenTelemetry ###
# Set OTEL_SDK_DISABLED to "false" to send telemetry to the local observability stack.
OTEL_SDK_DISABLED="true"
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4317"
OTEL_SERVICE_NAME="PLAG"
