# TODO: Generate with kubeseal using stage cluster context
# kubectl create secret generic monitoring-minio-credentials \
#   --namespace monitoring-minio \
#   --from-literal=AWS_ACCESS_KEY_ID="$MONITORING_ACCESS_KEY" \
#   --from-literal=AWS_SECRET_ACCESS_KEY="$MONITORING_SECRET_KEY" \
#   --dry-run=client -o yaml | \
#   kubeseal --controller-namespace sealed-secrets --format yaml
#
# IMPORTANT: Add Reflector annotations to spec.template.metadata.annotations
---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: monitoring-minio-credentials
  namespace: monitoring-minio
spec:
  encryptedData:
    AWS_ACCESS_KEY_ID: PLACEHOLDER
    AWS_SECRET_ACCESS_KEY: PLACEHOLDER
  template:
    metadata:
      creationTimestamp: null
      name: monitoring-minio-credentials
      namespace: monitoring-minio
      annotations:
        reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
        reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "monitoring-loki,monitoring-tempo"
        reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
        reflector.v1.k8s.emberstack.com/reflection-auto-namespaces: "monitoring-loki,monitoring-tempo"
    type: Opaque
