<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap'
      rel='stylesheet'
    />
    <style>
      * { margin: 0; padding: 0; font-family: 'Manrope', Helvetica, Arial,
      sans-serif; } p { margin: 16px 0; font-size: 16px; line-height: 24px; ;}
      h1 { margin-top: 32px; margin-bottom: 16px; font-size: 32px; }
      #backgroundTable { margin-left: auto; margin-right: auto; } #mainTable {
      border: solid 2px #999; border-radius: 16px; padding: 24px;}
      #backgroundTable { padding: 20px; } #pin { font-size: 48px; text-align:
      center; margin: 60px 0; letter-spacing: 12px; } footer { border-top: 1px
      solid #777; color: #777; margin-top: 60px; padding-top: 20px; font-size:
      14px; }
    </style>
  </head>

  <body>
    <table id='backgroundTable' cellpadding='0' cellspacing='0' border='0'>
      <tr>
        <td>
          <table
            id='mainTable'
            cellpadding='0'
            cellspacing='0'
            align='center'
            width='600'
          >
            <tr>
              <td>
                <img src='cid:logo' />
                <h1>
                  Reset your password
                </h1>
                <p>
                  You have requested a password reset for your account. Put the
                  pin numbers below into the password reset page.
                </p>
                <p id='pin'>
                  {{pin}}
                </p>
                <p>
                  If you did not request to change your password, you can just
                  ignore this email.
                </p>
                <p>
                  The SKKUDING Team
                </p>
                <footer>
                  SKKU Coding Platform is an online judge made by team SKKUDING.
                  The platform is an open-source software under the MIT license.
                </footer>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>