global:
  image: {}

deploymentMode: SingleBinary
loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  ring:
    kvstore:
      store: inmemory
  storage:
    bucketNames:
      chunks: loki
      ruler: loki
    type: s3
    s3:
      endpoint: http://minio.monitoring-minio.svc.cluster.local:9000
      accessKeyId: ${AWS_ACCESS_KEY_ID}
      secretAccessKey: ${AWS_SECRET_ACCESS_KEY}
      s3ForcePathStyle: true
      insecure: true
  schemaConfig:
    configs:
      - from: 2025-08-15
        object_store: s3
        store: tsdb
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  distributor:
    otlp_config:
      default_resource_attributes_as_index_labels:
        # these keys will be indexed
        ['service.name', 'service.version', 'service.environment']

singleBinary:
  extraArgs:
    config.expand-env: "true"
  extraEnvFrom:
    - secretRef:
        name: monitoring-minio-credentials

gateway:
  enabled: false

# Disabled - using central monitoring-minio instead
minio:
  enabled: false
