global:
  image: {}

deploymentMode: SingleBinary
loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  limits_config:
    retention_period: 2160h # 90 days
  compactor:
    retention_enabled: true
    delete_request_store: s3
  ring:
    kvstore:
      store: inmemory
  # TODO: connect minio
  # could not find way to inject env variables with helm chart
  # need to reference minio access key and secret
  # instead, we will use the default minio provided by this chart
  storage:
    bucketNames:
      chunks: loki
      ruler: loki
  #   type: s3
  #   s3:
  #     endpoint: http://minio.monitoring-minio.svc.cluster.local:9000
  #     accessKeyId: # TODO: inject from secret
  #     secretAccessKey: # TODO: inject from secret
  #     s3ForcePathStyle: true
  #     insecure: true
  schemaConfig:
    configs:
      - from: 2025-08-15
        object_store: s3
        store: tsdb
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  distributor: {otlp_config: {default_resource_attributes_as_index_labels:
            # these keys will be indexed
            ['service.name', 'service.version', 'service.environment']}}

gateway:
  enabled: false

# default minio by loki chart
# need to be replaced by custom minio(monitoring-minio) for centralized storage
minio:
  enabled: true
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
  persistence:
    size: 50Gi
