global:
  domain: argocd.codedang.com

configs:
  cm:
    url: https://argocd.codedang.com
    dex.config: |
      connectors:
        - type: github
          id: github
          name: GitHub
          config:
            clientID: $argocd-dex-github-oauth:clientID
            clientSecret: $argocd-dex-github-oauth:clientSecret
            useLoginAsID: true
            orgs:
              - name: skkuding
  rbac:
    policy.csv: |
      p, role:admin, applications, *, */*, allow
      p, role:admin, clusters, *, *, allow
      p, role:admin, repositories, *, *, allow
    policy.default: role:admin
  repositories:
    codedang:
      url: https://github.com/skkuding/codedang
      name: codedang
      type: git

controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: prometheus

dex:
  enabled: true
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: prometheus

server:
  service:
    servicePortHttps: 80
    servicePortHttp: 80

  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: prometheus

  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-dns01
      traefik.ingress.kubernetes.io/redirect-entry-point: https
    ingressClassName: traefik
    tls: true

  extraArgs:
    - --insecure

notifications:
  enabled: true
  context:
    argocdUrl: https://argocd.codedang.com
  notifiers:
    service.github: |
      appID: $github-app-id
      installationID: $github-installation-id
      privateKey: $github-private-key
  triggers:
    trigger.on-sync-failed: |
      - when: app.status.sync.status != 'Synced'
        oncePer: app.status.sync.revision
        send: [github-failed]
    trigger.on-sync-running: |
      - when: app.status.sync.status == 'Syncing'
        oncePer: app.status.sync.revision
        send: [github-running]
    trigger.on-sync-succeeded: |
      - when: app.status.sync.status == 'Synced' and app.status.health.status == 'Progressing'
        oncePer: app.status.operationState.syncResult.revision
        send: [github-running]
      - when: app.status.sync.status == 'Synced' and app.status.health.status == 'Healthy'
        oncePer: app.status.operationState.syncResult.revision
        send: [github-succeed]
      - when: app.status.sync.status == 'Synced' and app.status.health.status == 'Degraded'
        oncePer: app.status.operationState.syncResult.revision
        send: [github-failed]
  templates:
    template.github-running: |
      message: 'Syncing {{ .app.metadata.name }}'
      github:
        status:
          state: pending
          label: "Argo CD / {{ .app.metadata.annotations.appName }}"
          targetURL: "{{ .context.argocdUrl }}/applications/{{ .app.metadata.name }}?operation=true"
    template.github-succeed: |
      message: 'Successfully synced {{ .app.metadata.name }}'
      github:
        status:
          state: success
          label: "Argo CD / {{ .app.metadata.annotations.appName }}"
          targetURL: "{{ .context.argocdUrl }}/applications/{{ .app.metadata.name }}?operation=true"
        pullRequestComment:
          content: |
            ✅ **Syncing Preview App Succeeded**

            **Application:** `{{ .app.metadata.annotations.appName }}`
            **Revision:** `{{ .app.status.sync.revision }}`
            **Health Status:** {{ .app.status.health.status }}

            [Open Preview]({{ .app.metadata.annotations.previewURL }}) | [View in Argo CD]({{ .context.argocdUrl }}/applications/{{ .app.metadata.name }})
    template.github-failed: |
      message: 'Failed to sync {{ .app.metadata.name }}'
      github:
        status:
          state: failure
          label: "Argo CD / {{ .app.metadata.annotations.appName }}"
          targetURL: "{{ .context.argocdUrl }}/applications/{{ .app.metadata.name }}?operation=true"
        pullRequestComment:
          content: |
            ❗ **Syncing Preview App Failed**

            **Application:** `{{ .app.metadata.annotations.appName }}`
            **Revision:** `{{ .app.status.sync.revision }}`
            **Health Status:** {{ .app.status.health.status }}

            [Open Preview]({{ .app.metadata.annotations.previewURL }}) | [View in Argo CD]({{ .context.argocdUrl }}/applications/{{ .app.metadata.name }})

extraObjects:
  # Notifications Secret (GitHub App: skkuding-bot)
  - apiVersion: bitnami.com/v1alpha1
    kind: SealedSecret
    metadata:
      creationTimestamp: null
      name: argocd-notifications-secret
      namespace: argocd
    spec:
      encryptedData:
        github-app-id: AgAlAQ5slbvDHTV2KCEheuJrqBE1+0auzsIv8IyAd6czGVEHf6MlsaDLE+dT0ejX1w2lwQtQJ7BIuBJckwtqdMPjPJ2LKI+w/8yaPCBsvbA/LiPWCGReJgL2a5JfxR+0bLnQPJOvwhWitALtgRxgDheq2VX4gXlrTswGDLsK6UoXlXCzhZ+UiByLU8HMcdOHi5YbptPLtuuaPCsqPxLnCmu/T82HlM0kEKPGuo1dH3KbTiFSBJtVqqFHlhtBAgnc0nLuEvgP3GiaOw6i3MvVomfqYyM6+u0WZqBBY59A+NLKr4BEDrqGLHKBRSDVzmCmSs3M3npfiyBfx+h86N2kY3QyGVU8wjiQJu0HtuKo2zJntX/cj3N7UfGmAXEfmC0FzjoFaZ8BY04U6HxFXJU6bLXZKwrz0INph/QDUDXckOQZJhSQqF2sfxyDb4/TXiw2g9xPvYTG1hIXhuasJ/sJKimQJHPqe5FRWA9MSB7Nhnw3VRt+A2NpGuM1BirB6e3IGQKj5w6cBds0q2jmbBPJuCSlW14lGLGvNkBNNg/lut01t/fPG+NQSlw0/fWhTHGMMw6WCtYn717ODSsxdVFQxrHL65GVkLbp9ydKag5jXmQ/b0M4V/BSVfAeS+giJjxrd4/SifOaBnI07MtwuDhbIOsxhQa0kq6Y+weKncl5XAySvZNIW05PhAKU5bb5eYa1eAJgW0F0yG9C
        github-installation-id: AgAKKBaWcH+KghHrAPHEIDXHTyGFWq+Tcr/TD+/9wFiMTyrJ/66Q6vPg5jln5nVzLO76jUQXkM3UtCkXxBc+oqEUOMxbXJQZv+blullfR1CX60FI2aOmLRvbWrnYghoYUqS843JmjJD0lTzjS0CxEexmeyJxQVOtxrIHdPTp95UlTHe6iTEhvS7IxjkAJqxrgi4vXUKekBIhBEKzyY+L8TTMRZZ5r+x7RPwQp64SoQow5uZIq6yj7a94O5fb2cpUtQApy9ec2mFcHGQC0+0ynRCgZrttloLFWI+IXVRf5mAZYQI1G4xNcIskCWCCdfrgvLxOBX72Vu6ug6RqofCNPrpcoagaNBFXtzyliclGwvdVtHxSEku4mtKIgZD8eUS5QTsyFU5+tiw0RunthHOkSr/2p+F5opXx94CYFaR6PlyMOna6KAgcP+htuotNv3G7JSS93ZgI091O8xPwhjrO9kOjCU/ZPlDbVf96IFfFm1Jnwncqa1zxXd+IlcaUMZ6oLY4KksO5Am50tos1PRRsOFil+pgWyrnEyeh7x0Jgh58bgA0O+17yehd9hO9T09/6FtzoQ3j7zGq/7IY50U0Ijhd4MDuZovFSKxqFWhR1vegq16UlPYfmXej40DzkwZyPgaLO9pe03NIwgMNAMKHMNh2EqNaqNJ0cfHX8fsQ3lmobK6oDejLOT7iPviP6/7ZHBDVbVD6bZAHOew==
        github-private-key: AgBwSVzXv7xtb9DV0lKGFelNe0ACE/23i836nnTLRbh8ke2tQTEaD1LdKQJ0MErfwFrTPFZMox+Au6QHeF8OYg6Reb0YvCjZ5JLnJW/oAi1cFHFGXgPD5PPQkhnAHeFHRR3wycGxS3Tl/inL7kTHdDuNS4ckdzw0Oj4sL+CSXFvgFtc6/26SRAptaKsm1DwjemkcVPqQOcaHWdAD9/mrUwRN7geac8Q8v19yULpWkoJy21sr8VTt8pO43lXgs5YLzV9VSmFV1QWYaKPhQV9b5JSYi9NRKlYBqYkl+6T2WamEUWs667WMSbipb2TVc/J0b5pylKdsKvKU06kx+6xzHSV2Yj5lrCSNfzGxSJ2JxuOC1yP0EeWm+kzwDNiNuJCv1VFWYAQfvS227Cs9aueyi+lxDDImP/9ETzKFGWatMcN749IW1Oz4NautgEebYw3m9t10qsJDueZRRlzzF+P4Q2W+aTLE+bShqxshVXOasIeq1cr433f25dyzAiqFMCIg5sTZzvvvY6pdSHVK7ZzzTXLQ14Tbhf8VJsYgQIHT6Xh1k9+ga5+jh+twLzz9VpTN5BNgw6CmX9lMdgeJbclFKbRjIJ+JQpD3eXLavJA53fGyMgfwGA3WROcGugh3jsfvMIOYIuvI0j42/La/n6UzgaRWLQeDoqpLemIhhGmg6FNIIofI03PboWSrgn6Q5YgTZfe+J+UHdrkk8rhiLIDkK6e8Md0JdWQIX1R9u43WwyfPDuNBExjHjY3uZcQgKy5D5wwtywqvQxKCOBtTsPCjjNyACpWa3hDssQpF3MwrXjDFb9nZtQfzlRb0AniALcA9wLhCUMBcgG6zkzdf2yxWL9sSPYognG2Vdjc/YOoLrDKu/++Ew+8CC9BKveZlaCFV6BAT8uZDhXQ+8CX/+cq6IIZprjaNC9Us+fBIb2RrXTe5Ml7zkEjM+ObfK5k4hdZaCTBdoMSK/Fd9FbI7ImZN7LQM2jraDXv6lVbg1Fks1wu6z8TFPYaXr5nkGlOwfxjlIJ0/wqwjvp6DawLQQji+w2P3l23Tz2i4aBxh8+SfriKQdos3MYrDRk6n6/ksxbOmn7Rn1y8hoFywDA9pMMM0+/1VEL+AeaIMoBXeMeKSDejMnEYNb5m1K0kHYUjv0mfud9hLeSaV2jJkqsglHlHZn0zwt51/rAEQkFrtrD/YHfJ6vH5YFWqxb9kmSaClqkqHV//YQBkgJsuQJ14MG5dR1zGYyzn362m63sQlla+SB3xkJW2a7BJWynP0lrdVQE0jsb4Bc8A22WhsAfG7vib6nfif8iolheN4CF+z9o4Sp7NwPFGxkay3l9GzblkL0OUHXIpD+kNLgtUHyao6pll6H+ubdllPUN7E1wBGM7Ek4RQd3HjZgJzzudQ8t8HRbCQXBKXLdQE4tHLyBlKtmgloxv847aKUXZqV45C+2C0eGoxZ0ku+9VWvHWpfavPRWkjnmRNFOR36g6VL3UH/l108nS33D7qfuuMifPkwBLcl+IES5U6IQuwSkWlWMICwGQFtVjPjGOL2yABwlA98Qp7y5+dOQvKtSZGe85vSdGHo3XaS9wFE6Vb5+U9KFzZ4iMNlbKoCcEcGRdtWbWtZ7ySzzP1txgHOaa8V9Ummxoq8IlfEOpG3cIWozg2BH4v+hPxI6bgJElHqzuNXsHaEKbsD6VT1sFTY05ycdN4w3HKb1Yj4gKs0IY/iuScIFlIQIfvc6LSOVWEXp2GY9RqwjPH3XMIpgYy7yI6MKdkTOKrrMWk9P9PxVk/htX0Hd+Nva0NCRG+2CHx/vNlhGdz76QNBOgQjKAiW3zUfC77e+uUkJ7hcfVemDpmlAK/SZPExrJObyKIbhdmm92E5zoiyIcQZhpy1c8VWE8VL/uY1hYRO7Sk0j9S0kpz67bGpx86d5NR8yyAb8AfQSEFDW8fMThFBubfjHkJhJZ4utlACUwEDSIRGVDbD8KK8CdrzjavYwKs5BSTHc9nFGFBOxC/ro+GlfZKlUPZ44sgUL1xIo6yyaR4a4ipeAy0XeyVls+SVKGPKl9D95+dcfdeAmD3VaYWnsFPqRXyQHuuAXyvJ+8Yq82MU/HE+/pC2mYQVO3kxLV9ZbkI6qWuUle4IzROI7s8EG6py6iu1Lz3oLn0uoUxjFRcc9aojfQF7rAcPQx6Kl7M625RGYU8gkW1HWEterm3z9sk6p8X0AUCqgNkkezvyUfCEDf3cz0KnxM+QA6W541PapJkgjT4OnBqLXdG5oFpTQ8/GVk3K38/kk88HE/MP2EfW9wH7BFXcUXrH1Y7vB01nD+jsM+Pe71PL6mjeSwvTu9hYG3q/vdUQPf+d9cWa3XEjjebhg/6rZb4YOPFXxgzIPWyc4QYun237jHGZF6f+3KGU3kqeIU/UBfzVvm/pg9u3i2w+6XAkew+2MeQuA/dAh5R/O00IapTBTqAto1EslT1jC82GvoXagtcyxVsrJ2mnL1qJd1o13+kiHLxqn0gO+3NyR/ebaUIcx1Dm/F1TYMMua0UhgLpSkSnyFoge/2bHs7LlqERfZ4Mx/zZTZK0hu2D4gYu2aDOJsoRkjsUH49Y8ABdfkiKb+GaVyKqamOQnXwG6Fpbmn5sYfuUiOEzsHidGQFbkMaDjEGGduy1x3fFM5vO6hvWUBZQbd9koC3WPuFhWmW9CEAw4QOtZ3P1kJz9yqV4XBvDh6OjVLFajaPRcOXeMbaUMZXPwSiigkShujAfzJ/oqeMdkXrNwXr4jv497Yw71yHI+8Ffuacz8rTzjCD/dCiDjJfwGFus8IIeNQPqJzx+tm+b1xfbwyVpeRb6IUO0T8fBv9TDIZF87d5OoYo5orLC9rIsf1oUPqV9wnTk0AMYBuR7yG3DffXwXGQ/YyzQdMR86xdQ2AdUv526i8Hy3jVgHe7Rc0TeajKAk2X9TrSQGTvA/mA5F+UrPZQ==
      template:
        metadata:
          creationTimestamp: null
          labels:
            app.kubernetes.io/component: notifications-controller
            app.kubernetes.io/name: argocd-notifications-controller
            app.kubernetes.io/part-of: argocd
          name: argocd-notifications-secret
          namespace: argocd
        type: Opaque

  # GitHub App Repo Credentials (GitHub App: skkuding-bot)
  - apiVersion: bitnami.com/v1alpha1
    kind: SealedSecret
    metadata:
      name: github-app-secret
      namespace: argocd
    spec:
      encryptedData:
        githubAppID: AgAKpes0TssbvgKrpg3/IGj7S8ztGm84JvD5xuknKkn3VtNbAPyyuJpmWw1PggSAbTV3ZfwEiaWAisUuEKbhd9hWv5VCJir8tr+50ZI3EG7BtRxMUERPERc1S/vgrW3UHwq2zco2Zec0xCCS1/8hozVS0VCC+4AYQcm7hQ6ZdfU5THuwIl9y3LIh8ePu2YCmhaknu6rTlO/23eKGtfcDIPQg7R6LRt0xhGrswIH8bOLB4nV0teG9VqnyctLHxXIvta03g9qLhdCt/aJcchgNS6nYl4nU1Lgn4QDNkTG4T0oC4eTkcL2BvWWReFWxeZz2qPYiF89m4dW5tK6uANJwx7O2P74pzfCm+qjR1qfX2YsTRDD6Wz2HCdcXedSKFvN2lOJ41AkagiOxMDXNsIgzguQlZfdlaqYL0zHQIcMM1No/QU5iu8dQq6FwtQq8QDFxokKNY5iimjW2m1/wZfdHzb5VEaT6hNbYDauIF53mG/o/WfC6CiKIpWyynW8SDId3F+Bja/9/uViWLa/5V95f64/x8/eMrSNLub9FOj6o9c+jbeGNYjI3bCRUCQe4GMD1Fm9AcTVPfQaSdu9HT2yZ0KFK7Jxm4rxrtnErTJhUR1PQKIdfeWjYLKVH959Wcl6AjEDChxPFZKZcGXVtOamuFgI1xZGPWghQk20q1GtC0TMDI5/ugKhbgkudhHEbOE2xsNOT9uIa+pV0
        githubAppInstallationID: AgC4HqA6XX+z/t16kznxRbx4hJ3JK9zoQJzKgGff7JsA+/Uyepo5pyDMzk1F38zmsbW4MFQBDkAFxygRWEae0FvjR/Nt3wk0Q0IZ8ZG6LqOm2PErn7FH7cqcWU8abu1J6xQVJ8Ry5rwJIO949/GYgxQj6kRPJSR2pzcRhBidFxTtIWaHI5gfnt8yJdp/uWQNsF6/Tlsk5TMuz/ruoDuRwxJQEtsTcMjhvE01jPpiCTSM39oj7NnqeS1dwy2/EN+bqBjBv9lWW50LpAMiV+CoQ3kOD7I6Unk98sQklA8KHviFjBI2GOdddAQWHFJHmwccTNfi2fvxhwK6YH5DK5cbVKD/zrGNl02r0OiHmp4Tag3VwGvCDOKJrI0KCqh4XY5HKEg5gJQ03cwP37baOM78fZ0NEEGSx8aeuMdz2U11lDYxGBx5q58toq7GCM7QSQGIInP77U/tsEZ80N9tdYeDyhTLK5T+wK3vNF7K8o+xsflCjO38gcY0wpge3G874UaBZAlZkl8BFnbJsd3m+PvdwJIs7WMRKP13XU7cdRN08fJoChS/aEqFb+wbBVRhw/r+yRh/CX8dwZuxd+c5GaUY5iLbb7hbs0K0BiO4ec99YJ/27UryDuIJp0qevctoBG9jYgO69IwJmbThiwBuJULYmGRARN97D4nz9+Dg2SP5fWaDdW6erCknIvLntNXsK1RYIEDqV7d8hoZ4EA==
        githubAppPrivateKey: AgBI0BnxD5RwQ3Tci96l4Ck27OQopWWuaXivQfEey0PPJnOoHhwXTXd9xPAaa0PkNvifgwXZiyksDQye/35L2E1h8kMMvyhaAxJMfuvSgS55MgeWc9yBnRx2eXUh8n9WgWq6+3f3X1WNcCcv6xfXjO8xvVwPeS6wCHE6/3IIX/jlHz4BIDEDsjiw3LdZCvXNutp/crlehqc+6ZmHZFOLK20Ba0biY4luuHbhbZb/euMHhdqA+YKmsvb/KQw5q/O0f51a6nzKaPpkq4rTk1/geATu1ku+0anNPO57ZMKN6JTnIZgxWT4PxsVWfiPxxfzPMd9Zfp599720pv0C0uwHiewcbyQRH3CGOFRgeow8iRZ9Y59ZEOm2mZp6t3cnVl8i+k/jMSQxmNs2rRp2p9jbHqAyme3a6GF68T7yXSSINMrO9p/NK0OnEKQkPCNV5prj7JHxMTxIQUFHnGNard2K+qcg/KuPTh+vf3iPP2Cn5ZMEymhIqClb3oSK4qNl0bh2np0WwSAcm6yY/2UD1v1dJ+YwrjZJzVCsL5jM5uRrEVzY9yZioVXvy/WaLz8kB6mBZMKZ0QqutC1B+DrhQH3bU9yl6pmyrORQ8fkjztiq/EFXZubtvvpFzuIxCxBMT6O1PvA6l1FWbUDCwEbnjom8nUjNoRmuFjrdJkMn8qA08191fCI7YLIrR/oGIZIQmAe44e9lMYzVfBscRmBPiDmAJ9wFtKDaGhNCu0WAA3wCwIXCJVGgMZCxoqQ8uY5Jdaxl4Pfe63eXh8kwPeGKMvdRl27JfH2meXJt19VZpvbgKb+UzQOokHVPwtzc5WVylSQ5Bu283gfHrl5uBX5G+i70ZRbeGU6n2N6Up3hpGVyplU9BSmuk1dWb7Aosbr+86VlrnixXV1+PpDmwHe8Bpj0wLavM2Xr9SsWkefsus0cFSnuBBQTIiceXOtSsRBR9tFfZwltH4g7aNxrKHkbJn94DIzhozpNpX88bMLQ0v/SSs0JfZJQWVJY5kdUtCoJmYcllwBheOHETesSwg5UUS4LbX+UlrV9jP8yneqBMZyxzc/+K9ppzc/fiyS8neWAHUccgGpj2Cb1IbQioQVpzQPxs50QiW84gvK2HXKUF2KkaYCI050Auy2eC5JrhATHGC4hq108JcvtX6wDEXi8qnL3SYMgvQhD9BENrn1OcB967vF9D2IpA7vyo9yBsoCLm5fDT/Q9HvFJYRZGDyWH4+MXdStzGMx2MHdZ4y8HrQU7MK/LqXY2Tau94oQGpKPXUlJQFyfP/NIFBmvA1J1zIumP7kbAkLlnp/UX5BmE/MYeeO9/uEcDWM6KSEANqwjxSsHkJNOBv0xLKzgjj/qOq6MbgioRcIiL73cqRqM1MbTYPCUOr+q3X4UNe1H9qKcnJLni2LwSd89NKEFo9sU/sPCx9VKo4u++7cMKKJXQd+SsiFtqg2ZlQLvHnj/Ti96GxTUEmGzXekSIe0AdRFkyJ4xo9I9kl2URYPXrlWR6mK5nh0KYj8VqxiuEaqdVKt+zX9NM1u67NNiLWxOtpdeMLllWkwM1Mdqr5Za6ZH5aamusjQRRZ4mSBA02pNOgVd7zdcg0nKOTkl5DJhuvqeDVgzt/hoPz9tb9NebMmwFfs0PVmUb5RrIRxvLW1ydTK1/2cQG01wKwy6OsOUBAKoBkD27U3+dxKuoLQX2FLRdES1rqdmTIEWxItWk/lqjWYuznbohmhJqB+JQOvrYMjmhtqn40NpWuuQjdsIzzD5daemh1XjrGeiCyPOoCLdYKthPSfOyBARKD0btwWNxlCMwMDq1C7ttNpdfbQiJE0/00PKxL2r9RgI7ke0y4hXpfrRQnJDQHwPLtOAr795h8Wr0GnjfL8DUqvqaQe1926Eyz7+LHQCcNGB7DSN6UnF2rajUKTnhm3msK9zUN8mJn0E6UVS5U7bUk53jUK5wPta8YUxUJpxc4F4mkn8u9mFkahPnAOsmsgq8WqDnhkZZDRWpuyD+1xSACMw1CLU47QVmuVYohPt7Cxcrq0tyV/hYovu+LztI21ejq2BeB9XT8uPga4ozYNU7z1j1giBruNr83Z0VOwov/mvJZ/+n1bo3mMCAJnsN9TexM6W15Zmt7Rbrjt5EIH4vCwgtUEw+e7CTWsI775njP2a0cDMOBc/MtOTySQhUb/bhxZXbAbO1WD+6iv1F17LhuYKF597wudTITXQ3omXNomsTV0Qb5MJ+zHGddHFHbY6F9Cpwid/f3RmT7m2r1JUdswvVBIWL9++J17aQrhozAloJGyquGN8QVK+ktFiK8jLuewB7td7Gct19/fKnVph879zQY9WOaJqEHpaxeg9+zMyymryKUws2uVwKSKpREDxN4a+x6aVBo0j/Ee9Nm+qgWUQnXoWe7c3FxOrseNlNqJkC2bN1RO/pK9s8QobM3BvO9Cg/zz9lmqB0HcdJtUi1+JnOxZ2TVqxeSnXsWQ5o34SrN65oAU3nxaMV4tPZk1tM0gv+YBpVTI+GGrUNw/dEXJAQ3YaO4VkiAwDH4XXfV4x/RqnmXZViuj1ZHazBjSr1JimDDtVYfAGRvQND5KcKG1Gyrk5Q1BOAU8SUXDj0WUC9h8MtdMeigIm9ekNJq4zPgysisnNLYlwU5WF6E25PDbdKrI+8DPQN54r0DzSOclJkEsC8HBZwRoCOBupaDQ56FdGDOQmlEKKZlKHLAcu6i7tZrxHyvg5cbGqbokquGCkRTBbRwksxPHFr1ySufjCwt208ajHonTcKG2SXhyf5NY8D66xfjc5PG+PSq/52F7E/XlLDG92Ynnc8Gg3mqk8H92iK9tHAoUgTwd5II1nhKLzz5hJj3DLX+Qu8a+gvVRF2b7OrhLQEwsuUBBN9+TJ6YGRCH8M7W24xy6Td4lm590JpWbCZ2SddriiaHwlO5+mE9/yOR2NRvRNVz0cQoMew==
      template:
        metadata:
          name: github-app-secret
          namespace: argocd
        type: Opaque

  # GitHub OAuth Secret for Dex (GitHub OAuth App: codedang-argocd)
  - apiVersion: bitnami.com/v1alpha1
    kind: SealedSecret
    metadata:
      name: argocd-dex-github-oauth
      namespace: argocd
    spec:
      encryptedData:
        clientID: AgBO0RT7QuMlzZqXPOp53iAY00eTsRIltfOzadGoMDqU2VlW5ZwoHY7Nc9nsWU75A/8jN4TmqFjwB7NVWvxiqmdUdKgXVpWl2ZreE29VkJRATKBe/hLWn5B2wV/Fv6yap8jpmC4MalRJMnC/v7pvAUD0UFOas2v/A1JB2EsW6cdMCkPIKRX2lgnlaJcexxyRXI/Xn/9lrwa1/M8gc87p1yKxkm1fwhr435hBPqpB9/qF9JPri8THvU98GIvc8d31pUiYwrWMs6W5BB+S/BFf/9kn2KE6g1EZDg1bHQIBP8efm72d8fUf9aBMuTeuWlTycEfXIlYaPFHf8J7/9zCBOwHoYb9CIzV7dfUVRivSoohzIiDThu7SvmPS01gkMxGYGD+36r9DKc+LCMb85k3T0ddVncYZVAeOQPVq8cuZMrk8IES6qTAIzaqIXGWtv9qzJ3VjlVoohv2C0dUwTBp4+lRGMiFjMTvRwXAJjDpFjx5cuceQlJIuOcxBkN2iBXkNYMNrjFL9oH//8JWfas+napR31BisZajXs/kBC4Qy5q1pDHbqqM9M4mJVIdqW47Wf2R488xS1CKBXt8Ji+Gya6unh+h05ET3YRhO75YL500ht3KYcZ/P7Cuv1UZK4x7/tFBrNUzZu2EnAzbcX4+tit3AalwBhImgyfFURqhFRfB1iiS/PyYhH5YDQ65AfUGMSPQCDsHUqJmDlolE3kny0/iXEFWG8ug==
        clientSecret: AgBgP3uOd64/zt/5kKrGY7GUJp1rMH3FMbYMpyT/q3+gsK3sncbyvO+z11FsXbr39eNwdiRNjCeyQjfZTCM93u5CEKMdJajwqqnSMTJ1PBLlGVoEkwcDiz/CqXWuuLGOpfo075s2caEEwfYxnXGlTSqM33tO3JtXEqlYEW5Ns+eKc4nPwjcRJbo1K3IjePXqKIRLal+225QQwJcrn3jUXg+NSz4a/fvUwm3oAVO/7HsxZTR2zqzvJ/uB1UuC+d38PhSKaj9eUaxd+2NF2z3BCaO8JzWsueqaSGjyq2P00LUmD+4ds0pv6rU+7pS98MqJXgkB8sB2VvBc4Am4G4+L/Cu2/hwSDLQIRO55QftpphX9IVPPAlXkNB+K3F0cEW3K34jJxxu603XbJOT6ral+yB/GqKaMA5B6DDOPH+tRrlphp2ibgi5kb81D4yl+JB0ZrVEliNIyjgTkho3qkvwn5izbmCXrZZQ/n13AekZjPsDgV1dnLTff6UqMWU7oTUnCX5BJhEEmAReb1XDl9EOa7ecFhlFQSP1gsHfiFsl3+WBrqRi/qzAhuB28/WkQjOFuaeO1J0+yvgxRTfAuthhSsRuNXZBL0rLcxEgru6XJ3evI4UE2igFQPqt+BrZUTuzn2uun4xNraMQ08e/j8GISDUy+hBHiM6GZ5wpU884+5R5MD5VmiUcQkTbdrPE9ZB4zr3Alyof8gBzZ4Wsi9Ytc8HewHcpqhrtn0qhgTLBcdHak+rIjbkYAfcUJ
      template:
        metadata:
          name: argocd-dex-github-oauth
          namespace: argocd
        type: Opaque
