apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris
  namespace: iris
spec:
  replicas: 20
  selector:
    matchLabels:
      app: iris
  template:
    metadata:
      labels:
        app: iris
    spec:
      containers:
        - name: iris
          image: ghcr.io/skkuding/codedang-iris
          resources:
            limits:
              cpu: 1
              memory: 1.5Gi
            requests:
              cpu: 1
              memory: 1.5Gi
          volumeMounts:
            - name: cgroup
              mountPath: /sys/fs/cgroup
              readOnly: false
          securityContext:
            privileged: true
          envFrom:
            - configMapRef:
                name: iris-env
            - secretRef:
                name: aws-credentials
            - secretRef:
                name: database-credentials
          env:
            - name: RABBITMQ_DEFAULT_USER
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-credentials
                  key: username
            - name: RABBITMQ_DEFAULT_PASS
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-credentials
                  key: password
      volumes:
        - name: cgroup
          hostPath:
            path: /sys/fs/cgroup
            type: Directory
