log:
  level: warn

# Warning: SQLite is not recommended for production use
db:
  type: sqlite #TODO: switch to external Postgres for production
  sqlite:
    poolSize: 0

# Warning: Local file system storage is not recommended for production use
binaryData:
  mode: default # default, filesystem, s3(recommended for production)
  localStoragePath: /n8n/data

main:
  count: 1 # Single replica
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 512m
      memory: 512Mi
  volumeMounts:
    - name: credentials
      mountPath: /home/node/.n8n/credentials
      readOnly: true
  env:
    - name: N8N_BASIC_AUTH_ACTIVE
      value: 'true'
    - name: N8N_BASIC_AUTH_USER
      valueFrom:
        secretKeyRef:
          name: n8n-user
          key: N8N_BASIC_AUTH_USER
    - name: N8N_BASIC_AUTH_PASSWORD
      valueFrom:
        secretKeyRef:
          name: n8n-user
          key: N8N_BASIC_AUTH_PASSWORD

volumes:
  - name: credentials
    secret:
      secretName: n8n-credentials
      defaultMode: 0400

ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-dns01
  tls:
    - hosts:
        - n8n.codedang.com
      secretName: n8n-tls
  hosts:
    - host: n8n.codedang.com
      paths:
        - path: /
          pathType: Prefix

# Enable Prometheus monitoring
serviceMonitor:
  enabled: true
