apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: runner

resources:
  - namespace.yaml
  - rbac.yaml
  - deployment.yaml
  - service.yaml

commonAnnotations:
  managed-by: kustomize
