apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: frontend

resources:
  - configmap.yaml
  - deployment.yaml
  - ingress.yaml
  - service.yaml

commonAnnotations:
  managed-by: kustomize
