:root {
  --c-blue: #3581fa;
  --c-blue-dark: #2e6de9;
  --c-blue-light: #4d9dfc;

  --vp-font-family-base: 'Inter var experimental', 'Inter var', 'Noto Sans KR',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: var(--c-blue);
  --vp-c-brand: var(--c-blue);
  --vp-c-brand-text: #fff;

  /* Button */
  --vp-button-brand-border: var(--c-blue-dark);
  --vp-button-brand-text: var(--vp-c-brand-text);
  --vp-button-brand-bg: var(--c-blue);
  --vp-button-brand-hover-border: var(--c-blue-light);
  --vp-button-brand-hover-text: var(--vp-c-brand-text);
  --vp-button-brand-hover-bg: var(--c-blue-light);
  --vp-button-brand-active-border: var(--c-blue-dark);
  --vp-button-brand-active-text: var(--vp-c-brand-text);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}
