.container::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-button:vertical:start:increment {
  display: block;
  height: 20px;
}

.container::-webkit-scrollbar-button:vertical:end:decrement {
  display: block;
  height: 20px;
}

.container::-webkit-scrollbar-track {
  background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 1000px;
}
