{
	servers {
		timeouts {
			idle 2m
		}
	}
}

stage-proxy.codedang.com {
	handle /api/* {
		@options method OPTIONS
		handle @options {
			header {
				Access-Control-Allow-Origin {header.Origin}
				Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE"
				Access-Control-Allow-Headers "Content-Type, Authorization, Email-Auth, Apollo-Require-Preflight"
				Access-Control-Allow-Credentials true
				Access-Control-Max-Age 7200
			}
			respond "" 204
		}

		handle {
			reverse_proxy https://stage.codedang.com {
				header_up Host stage.codedang.com
				header_up X-Forwarded-For ""
				header_up X-Real-IP ""

				transport http {
					tls
					tls_insecure_skip_verify
				}
			}

			header {
				Access-Control-Allow-Origin {header.Origin}
				Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE"
				Access-Control-Allow-Headers "Content-Type, Authorization, Email-Auth, Apollo-Require-Preflight"
				Access-Control-Allow-Credentials true
				Access-Control-Expose-Headers "Email-Auth"

				Strict-Transport-Security "max-age=31536000; includeSubDomains"
				X-Content-Type-Options "nosniff"
				X-Frame-Options "DENY"
				X-XSS-Protection "1; mode=block"

				defer
			}
		}
	}

	handle /graphql {
		@options method OPTIONS
		handle @options {
			header {
				Access-Control-Allow-Origin {header.Origin}
				Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE"
				Access-Control-Allow-Headers "Content-Type, Authorization, Email-Auth, Apollo-Require-Preflight"
				Access-Control-Allow-Credentials true
				Access-Control-Max-Age 7200
			}
			respond "" 204
		}

		handle {
			reverse_proxy https://stage.codedang.com {
				header_up Host stage.codedang.com
				header_up X-Forwarded-For ""
				header_up X-Real-IP ""

				transport http {
					tls
					tls_insecure_skip_verify
				}
			}

			header {
				Access-Control-Allow-Origin {header.Origin}
				Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE"
				Access-Control-Allow-Headers "Content-Type, Authorization, Email-Auth, Apollo-Require-Preflight"
				Access-Control-Allow-Credentials true
				Access-Control-Expose-Headers "Email-Auth"

				Strict-Transport-Security "max-age=31536000; includeSubDomains"
				X-Content-Type-Options "nosniff"
				X-Frame-Options "DENY"
				X-XSS-Protection "1; mode=block"

				defer
			}
		}
	}

	handle /bucket* {
		reverse_proxy https://stage.codedang.com {
			header_up Host stage.codedang.com
		}
	}

	handle /console* {
		reverse_proxy https://stage.codedang.com {
			header_up Host stage.codedang.com
		}
	}

	handle /logs* {
		reverse_proxy https://stage.codedang.com {
			header_up Host stage.codedang.com
		}
	}

	log {
		output file /var/log/caddy/stage-proxy-access.log {
			roll_size 50MB
			roll_keep 10
		}
		format json {
			time_format iso8601
			time_key timestamp
			message_key message
		}
	}
}

http://stage-proxy.codedang.com {
	redir https://stage-proxy.codedang.com{uri} permanent
}
