apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - serviceaccount.yaml
  - role.yaml
  - rolebinding.yaml
  - cronjob.yaml

configMapGenerator:
  - name: backup-script
    files:
      - backup.sh
