apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    app.kubernetes.io/environment: 'production'
spec:
  project: default
  sources:
    - repoURL: https://grafana.github.io/helm-charts
      chart: grafana
      targetRevision: '9.4.0'
      helm:
        releaseName: grafana
        valueFiles:
          - $codedang/infra/k8s/monitoring/grafana/values.yaml
    - repoURL: https://github.com/skkuding/codedang
      targetRevision: main
      path: infra/k8s/monitoring/grafana
      directory:
        # kustomization.yaml is ignored if recurse is true
        recurse: false
      ref: codedang
  destination:
    name: production
    namespace: monitoring-grafana
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
