apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: grafana
  namespace: argocd
  # finalizers:
  #   - resources-finalizer.argocd.argoproj.io
spec:
  goTemplate: true
  goTemplateOptions: ['missingkey=error']
  generators:
    - list:
        elements:
          - env: stage
            branch: main
          - env: production
            branch: release
  template:
    metadata:
      name: 'grafana-{{.env}}'
      # finalizers:
      #   - resources-finalizer.argocd.argoproj.io
      labels:
        app.kubernetes.io/environment: '{{.env}}'
    spec:
      project: default
      sources:
        # helm chart from grafana registry
        - repoURL: https://grafana.github.io/helm-charts
          chart: grafana
          targetRevision: '10.5.13'
          helm:
            releaseName: grafana
            valueFiles:
              - '$codedang/infra/k8s/monitoring/grafana/overlays/{{.env}}/values.yaml'
        # git ref for helm valueFiles
        - repoURL: https://github.com/skkuding/codedang
          targetRevision: '{{.branch}}'
          ref: codedang
        # kustomize overlay (namespace + sealed secrets)
        - repoURL: https://github.com/skkuding/codedang
          targetRevision: '{{.branch}}'
          path: 'infra/k8s/monitoring/grafana/overlays/{{.env}}'
      destination:
        name: '{{.env}}'
        namespace: monitoring-grafana
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - PrunePropagationPolicy=foreground
