@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-text;
  }

  html,
  body {
    @apply h-full;
  }

  body {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
  }

  #app {
    @apply flex h-full flex-col;
  }
}

#nprogress {
  @apply pointer-events-none;
}

#nprogress .bar {
  @apply bg-blue fixed left-0 top-0 h-[2px] w-full;
}
