apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: headlamp
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  sources:
    # Headlamp Helm chart
    - repoURL: https://kubernetes-sigs.github.io/headlamp/
      chart: headlamp
      targetRevision: '0.40.0'
      helm:
        releaseName: headlamp
        valueFiles:
          - $codedang/infra/k8s/headlamp/values.yaml
    # ref for helm valueFiles
    - repoURL: https://github.com/skkuding/codedang
      targetRevision: main
      path: infra/k8s/headlamp
      ref: codedang
  destination:
    name: production
    namespace: headlamp
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
