apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: redis
  namespace: argocd
spec:
  # Preserves deployed resources when ApplicationSet or Application is deleted (prevents data loss)
  syncPolicy:
    preserveResourcesOnDeletion: true
  goTemplate: true
  goTemplateOptions: ['missingkey=error']
  generators:
    - list:
        elements:
          - env: stage
            branch: main
          - env: production
            branch: release
  template:
    metadata:
      name: 'redis-{{.env}}'
      labels:
        app.kubernetes.io/environment: '{{.env}}'
    spec:
      project: default
      sources:
        - repoURL: https://ot-container-kit.github.io/helm-charts
          chart: redis
          targetRevision: 0.16.5
          helm:
            releaseName: redis
            valueFiles:
              - $codedang/infra/k8s/redis/values.yaml
        - repoURL: https://github.com/skkuding/codedang
          targetRevision: '{{.branch}}'
          ref: codedang
      destination:
        namespace: redis
        name: '{{.env}}'
      syncPolicy:
        automated:
          prune: false
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - PrunePropagationPolicy=foreground
