apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: reflector
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: '-1'
spec:
  goTemplate: true
  goTemplateOptions: ['missingkey=error']
  generators:
    - list:
        elements:
          - env: stage
          - env: production
  template:
    metadata:
      name: 'reflector-{{.env}}'
      labels:
        app.kubernetes.io/environment: '{{.env}}'
    spec:
      project: default
      source:
        repoURL: https://emberstack.github.io/helm-charts
        chart: reflector
        targetRevision: 10.0.10
      destination:
        namespace: reflector
        name: '{{.env}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
