name: Check Unused Dependencies

on:
  schedule:
    - cron: '0 3 * * 1' # 매주 월요일 03시 (한국 시간 12시)

jobs:
  check-unused:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [20]

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-pnpm

      - name: Check unused dependencies
        run: pnpm knip
