name: Update Documentation

on:
  push:
    branches: [main]
    paths: ['docs/**']
  pull_request: # FIXME: for testing

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: latest
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: pnpm install

      - name: Build documentation
        run: pnpm docs:build

      - name: Deploy documentation to AWS S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: >
          aws s3 sync
            ./docs/.vitepress/dist
            s3://${{ secrets.S3_BUCKET_DOCUMENTATION }}
            --region ap-northeast-2
            --acl public-read
